# 1. Data Wrangling

In this notebook, we perform data cleaning, fix missing values, and add new columns with meaning values.

**Table of Contents**

[Data Loading and Manipulating](#Data-Loading-and-Manipulating)  
* [CAASPP Test Scores](#CAASPP-Test-Scores)
* [House Prices](#House-Prices)

[Joining Multiple Datasets and Cleaning Data](#Joining-Multiple-Datasets-and-Cleaning-Data)  
[Detecting and Imputing Missing Values](#Detecting-and-Imputing-Missing-Values)

## Loading Modules

In [1]:
import pandas as pd
import numpy as np

#To find the file encoding type
import chardet
import matplotlib.pyplot as plt
import seaborn as sns
import re
import glob

#plotly
#import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import cufflinks as cf
#plotly.tools.set_credentials_file(username='ahrimhan', api_key='iGryT0mF9uXxVgbnCgT9')

## Data Loading and Manipulating

### CAASPP Test Scores
We acquired the test score data for the [California Assessment of Student Performance and Progress (CAASPP)](https://caaspp.cde.ca.gov/). The test type is the Smarter Balanced English Language Arts/Literacy and Mathematics.

* The public data is available between 2015 and 2018 (4 years):
[Research Files for Smarter Balanced Assessments](https://caaspp.cde.ca.gov/sb2018/ResearchFileList)

* The data set is too large to commit to GitHub, please refer the data set in the following link:
[CAASPP test scores](https://drive.google.com/drive/folders/1puqmaVznmecKan-O6VNrqZy11MLeLzHo?usp=sharing)

#### Test data

We first load the 2018 test data.

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
missing_values = ['n/a', 'na', '-', '*']

In [4]:
dtype_= {'Percentage Standard Exceeded': np.float64,
        'Percentage Standard Met': np.float64,
        'Percentage Standard Met and Above': np.float64,
        'Percentage Standard Nearly Met': np.float64,
        'Percentage Standard Not Met': np.float64,
        'Area 1 Percentage Above Standard': np.float64,
        'Area 1 Percentage Near Standard': np.float64,
        'Area 1 Percentage Below Standard': np.float64,
        'Area 2 Percentage Above Standard': np.float64,
        'Area 2 Percentage Near Standard': np.float64,
        'Area 2 Percentage Below Standard': np.float64,
        'Area 3 Percentage Above Standard': np.float64,
        'Area 3 Percentage Near Standard': np.float64,
        'Area 3 Percentage Below Standard': np.float64,
        'Area 4 Percentage Above Standard': np.float64,
        'Area 4 Percentage Near Standard': np.float64,
        'Area 4 Percentage Below Standard': np.float64}

In [5]:
df = pd.read_csv("../../CAASPP/all/sb_ca2018_all.csv", na_values = missing_values, dtype=dtype_)

In [6]:
#time series plot
path = "../../CAASPP/all/"
allFiles = glob.glob(path + "/*.csv")

list_ = []

for file_ in allFiles:
    df_temp = pd.read_csv(file_, na_values = missing_values, dtype=dtype_, index_col=None, header=0)
    list_.append(df_temp)

df_all = pd.concat(list_, axis = 0, ignore_index = True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [7]:
df.shape

(3269730, 32)

In [8]:
df.head()

,County Code,District Code,School Code,Filler,Test Year,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores,Area 1 Percentage Above Standard,Area 1 Percentage Near Standard,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard
0,0,0,0,NaN,2018,1,B,3180571.0,3177420.0,3,1,445017.0,434468.0,2424.0,26.13,22.09,48.22,23.49,28.29,434207.0,25.32,44.02,30.66,23.84,43.30,32.85,20.89,61.25,17.86,27.60,47.71,24.68
1,0,0,0,NaN,2018,1,B,3187408.0,3184720.0,3,2,445018.0,436464.0,2430.9,21.07,27.82,48.89,23.56,27.55,436215.0,33.59,33.20,33.21,26.72,42.30,30.98,28.80,46.31,24.89,0.00,0.00,0.00
2,0,0,0,NaN,2018,1,B,3187408.0,3184720.0,4,2,463838.0,455619.0,2467.7,18.46,24.45,42.91,30.81,26.27,455345.0,29.03,31.02,39.95,21.65,44.73,33.62,24.03,43.78,32.20,0.00,0.00,0.00
3,0,0,0,NaN,2018,1,B,3180571.0,3177420.0,4,1,463838.0,453771.0,2463.7,26.31,22.36,48.67,19.25,32.08,453491.0,24.77,46.77,28.46,24.18,44.21,31.61,19.30,63.22,17.48,25.86,48.83,25.31
4,0,0,0,NaN,2018,1,B,3180571.0,3177420.0,5,1,469247.0,459434.0,2496.3,21.80,27.63,49.43,19.99,30.58,459209.0,24.22,45.02,30.76,29.20,41.42,29.38,16.52,59.74,23.73,28.29,44.32,27.39

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3269730 entries, 0 to 3269729
Data columns (total 32 columns):
County Code                          int64
District Code                        int64
School Code                          int64
Filler                               float64
Test Year                            int64
Subgroup ID                          int64
Test Type                            object
Total Tested At Entity Level         float64
Total Tested with Scores             float64
Grade                                int64
Test Id                              int64
CAASPP Reported Enrollment           float64
Students Tested                      float64
Mean Scale Score                     float64
Percentage Standard Exceeded         float64
Percentage Standard Met              float64
Percentage Standard Met and Above    float64
Percentage Standard Nearly Met       float64
Percentage Standard Not Met          float64
Students with Scores                 float64
Area 1 Percentage Above Standard     float64
Area 1 Percentage Near Standard      float64
Area 1 Percentage Below Standard     float64
Area 2 Percentage Above Standard     float64
Area 2 Percentage Near Standard      float64
Area 2 Percentage Below Standard     float64
Area 3 Percentage Above Standard     float64
Area 3 Percentage Near Standard      float64
Area 3 Percentage Below Standard     float64
Area 4 Percentage Above Standard     float64
Area 4 Percentage Near Standard      float64
Area 4 Percentage Below Standard     float64
dtypes: float64(24), int64(7), object(1)
memory usage: 798.3+ MB

#### Entity tables
The following entity files list the County, District, and School entity names and codes for all entities as the existed in the administration year selected. This file must be merged with the test data file to join these entity names with the appropriate score data.

In [10]:
#find the file encoding type (warning: it takes so long time, so just put the exact number)
#with open("../../CAASPP/entities/sb_ca2018entities.csv", 'rb') as f:
#    result = chardet.detect(f.read())  # or readline if the file is large
    
result = {'encoding': 'Windows-1252', 'confidence': 0.7299741290274674, 'language': ''}

In [11]:
entities = pd.read_csv("../../CAASPP/entities/sb_ca2018entities.csv", encoding=result['encoding'], na_values = missing_values)

In [12]:
entities.shape

(11333, 10)

In [13]:
entities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11333 entries, 0 to 11332
Data columns (total 10 columns):
County Code      11333 non-null int64
District Code    11333 non-null int64
School Code      11333 non-null int64
Filler           0 non-null float64
Test Year        11333 non-null int64
Type Id          11333 non-null int64
County Name      11333 non-null object
District Name    11274 non-null object
School Name      10251 non-null object
Zip Code         11333 non-null object
dtypes: float64(1), int64(5), object(4)
memory usage: 885.5+ KB

In [14]:
entities.drop(columns='Filler', inplace=True)

The `Zip Code` is type string. For further merging cases, we change the `Zip Code` to the integer type to maintain the same type.

In [15]:
#tip: we need same data types of keywords for merging

#missing values

#convert 'Zip Code' column type: string to int64
entities['Zip Code'] = pd.to_numeric(entities['Zip Code'], errors='coerce').fillna(0).astype(np.int64)

In [16]:
entities.head()

,County Code,District Code,School Code,Test Year,Type Id,County Name,District Name,School Name,Zip Code
0,0,0,0,2018,4,State of California,NaN,NaN,0
1,1,0,0,2018,5,Alameda,NaN,NaN,0
2,1,10017,0,2018,6,Alameda,Alameda County Office Of Education,NaN,0
3,1,10017,112607,2018,9,Alameda,Envision Academy For Arts & Technology,Envision Academy For Arts & Technology,94612
4,1,10017,123968,2018,9,Alameda,Community School For Creative Education,Community School For Creative Education,94606

#### Subgroup and Test ID tables
Each [`Subgroup ID`](https://caaspp.cde.ca.gov/sb2018/research_fixfileformat18) has the following meanings. We can investigate the characteristics of individual students.

In [17]:
subgroup = pd.read_csv("../../CAASPP/Subgroups.txt", header=None, na_values = missing_values)
subgroup.shape

(47, 4)

In [18]:
subgroup.head()

,0,1,2,3
0,1,1,"""All Students""","""All Students"""
1,3,3,"""Male""","""Gender"""
2,4,4,"""Female""","""Gender"""
3,6,6,"""Fluent English proficient and English only""","""English-Language Fluency"""
4,7,7,"""Initial fluent English proficient (IFEP)""","""English-Language Fluency"""

We clean the `Subgroup ID` table. The first and the second columns are redundant, so the first one is dropped. We name the columns. 

The category "English-Language Fluency" has the 8 student groups:
* Fluent English proficient and English only
* Initial fluent English proficient (IFEP)
* Reclassified fluent English proficient (RFEP)
* English learners (ELs) enrolled in school in the U.S. fewer than 12 months
* English learners enrolled in school in the U.S. 12 months or more
* English learner
* Ever-ELs
* English only

Those groups are related as follows:
* Total students = Fluent English proficient and English only + English learner
* Fluent English proficient and English only = Initial fluent English proficient (IFEP) + Reclassified fluent English proficient (RFEP) + English only
* English learner = English learners (ELs) enrolled in school in the U.S. fewer than 12 months + English learners enrolled in school in the U.S. 12 months or more
* Ever-ELs = Reclassified fluent English proficient (RFEP) + English learner

The definition of **Initial fluent English proficient (IFEP)** is as follows:
On the first ever taken California English Language Development Test (CELDT), if your child scored at the Early Advanced or Advanced level of language proficiency, your child is identified as "Initially Fluent English Proficient" or IFEP, meaning that your child has enough language proficiency to continue learning like native language speaking and doesnâ€™t need additional English Language Development support [\[1\]](https://www.cde.ca.gov/ta/tg/ep/elpacipld.asp), [\[2\]](https://stoneridge.rcsdk8.org/post/english-learner-el).

In [19]:
#delete first column (redundant with the second column); axis = 0 (index) and axis =1 (column), inplace=True means adjusting
subgroup.drop(0, axis=1, inplace=True)
subgroup.columns = ['Subgroup ID', 'Student Groups', 'Category']
subgroup.sort_values("Category")

,Subgroup ID,Student Groups,Category
0,1,"""All Students""","""All Students"""
24,128,"""Students with disability""","""Disability Status"""
20,99,"""Students with no reported disability""","""Disability Status"""
21,111,"""Not economically disadvantaged""","""Economic Status"""
7,31,"""Economically disadvantaged""","""Economic Status"""
25,142,"""English learners enrolled in school in the U...","""English-Language Fluency"""
29,180,"""English only""","""English-Language Fluency"""
22,120,"""English learners (ELs) enrolled in school in...","""English-Language Fluency"""
30,190,"""To be determined (TBD)""","""English-Language Fluency"""
28,170,"""Ever-ELs""","""English-Language Fluency"""
27,160,"""English learner""","""English-Language Fluency"""
3,6,"""Fluent English proficient and English only""","""English-Language Fluency"""
4,7,"""Initial fluent English proficient (IFEP)""","""English-Language Fluency"""
5,8,"""Reclassified fluent English proficient (RFEP)""","""English-Language Fluency"""
38,207,"""Two or more races""","""Ethnicity for Economically Disadvantaged"""
31,200,"""Black or African American""","""Ethnicity for Economically Disadvantaged"""
32,201,"""American Indian or Alaska Native""","""Ethnicity for Economically Disadvantaged"""
36,205,"""Native Hawaiian or Pacific Islander""","""Ethnicity for Economically Disadvantaged"""
34,203,"""Filipino""","""Ethnicity for Economically Disadvantaged"""
35,204,"""Hispanic or Latino""","""Ethnicity for Economically Disadvantaged"""
37,206,"""White""","""Ethnicity for Economically Disadvantaged"""
33,202,"""Asian""","""Ethnicity for Economically Disadvantaged"""
39,220,"""Black or African American""","""Ethnicity for Not Economically Disadvantaged"""
42,223,"""Filipino""","""Ethnicity for Not Economically Disadvantaged"""
40,221,"""American Indian or Alaska Native""","""Ethnicity for Not Economically Disadvantaged"""
43,224,"""Hispanic or Latino""","""Ethnicity for Not Economically Disadvantaged"""
44,225,"""Native Hawaiian or Pacific Islander""","""Ethnicity for Not Economically Disadvantaged"""
41,222,"""Asian""","""Ethnicity for Not Economically Disadvantaged"""
46,227,"""Two or more races""","""Ethnicity for Not Economically Disadvantaged"""
45,226,"""White""","""Ethnicity for Not Economically Disadvantaged"""
8,74,"""Black or African American""","""Ethnicity"""
9,75,"""American Indian or Alaska Native""","""Ethnicity"""
10,76,"""Asian""","""Ethnicity"""
11,77,"""Filipino""","""Ethnicity"""
26,144,"""Two or more races""","""Ethnicity"""
13,79,"""Native Hawaiian or Pacific Islander""","""Ethnicity"""
12,78,"""Hispanic or Latino""","""Ethnicity"""
14,80,"""White""","""Ethnicity"""
2,4,"""Female""","""Gender"""
1,3,"""Male""","""Gender"""
6,28,"""Migrant education""","""Migrant"""
15,90,"""Not a high school graduate""","""Parent Education"""
16,91,"""High school graduate""","""Parent Education"""
17,92,"""Some college (includes AA degree)""","""Parent Education"""
18,93,"""College graduate""","""Parent Education"""
19,94,"""Graduate school/Post graduate""","""Parent Education"""
23,121,"""Declined to state""","""Parent Education"""

In [20]:
subgroup.head()

,Subgroup ID,Student Groups,Category
0,1,"""All Students""","""All Students"""
1,3,"""Male""","""Gender"""
2,4,"""Female""","""Gender"""
3,6,"""Fluent English proficient and English only""","""English-Language Fluency"""
4,7,"""Initial fluent English proficient (IFEP)""","""English-Language Fluency"""

In [21]:
#Strip whitespaces (including newlines) or a set of specified characters from each string
subgroup['Category'] = subgroup['Category'].map(lambda x: x.replace('"', '').strip())
subgroup['Student Groups'] = subgroup['Student Groups'].map(lambda x: x.replace('"', '').strip())

The `Test ID` has the following meanings. The `Test ID` is 1-4; 1 represents ELA and 2 represents mathematics, respectively. We do not consider 3 and 4 because they are CAA (California Alternative Assessments) scores. The CAA scores are taken by students in grades 3â€“8 and grade 11 whose individualized education program (IEP) teams have determined that the student's cognitive disabilities prevent him or her from taking the online CAASPP Smarter Balanced assessments.

For readability, we convert the **column type** of `Test Id` from `int64` to `string`.

In [22]:
tests_id = pd.read_csv("../../CAASPP/Tests.txt", header=None, na_values = missing_values)
tests_id

         0            1                                     2
0  Test ID  Test ID Num                             Test Name
1        1            1   SB - English Language Arts/Literacy
2        2            2                      SB - Mathematics
3        3            3  CAA - English Language Arts/Literacy
4        4            4                     CAA - Mathematics

In [23]:
#performance better (ver 1).

# tests_id.columns = ['Test Id Name', 'Test Id', 'Test Name']
# tests_id.drop(0, axis=0, inplace=True)

# tests_id['Test Id Name'] = tests_id['Test Id Name'].replace("1", "English")
# tests_id['Test Id Name'] = tests_id['Test Id Name'].replace("2", "Mathematics")
# tests_id['Test Id Name'] = tests_id['Test Id Name'].replace("3", "CAA-English")                                                        
# tests_id['Test Id Name'] = tests_id['Test Id Name'].replace("4", "CAA-Mathematics") 

# #type conversion : string to int64
# tests_id['Test Id'] = pd.to_numeric(tests_id['Test Id'], errors='coerce').fillna(0).astype(np.int64)
# tests_id.drop(columns='Test Name', inplace=True)

# tests_id

# df = pd.merge(tests_id, df, how='inner', on=['Test Id'])
# df.drop(columns='Test Id', inplace=True)
# df.rename(columns={'Test Id Name': 'Test Id'}, inplace=True)

In [24]:
#performance better (ver 2).
#convert 'Test Id' column type: int64 to string

df['Test Id'] = df['Test Id'].replace(1, "English")
df['Test Id'] = df['Test Id'].replace(2, "Mathematics")
df['Test Id'] = df['Test Id'].replace(3, "CAA-English")
df['Test Id'] = df['Test Id'].replace(4, "CAA-Mathematics")

I decided to use only the next columns: â€˜Country Codeâ€™, â€˜District Codeâ€™, â€˜School Codeâ€™, â€˜Test Yearâ€™, â€˜Subgroup IDâ€™, â€˜Gradeâ€™, â€˜Test Idâ€™, â€˜Students with Scoresâ€™, and achievement levels. The [minimum and maximum test scale score ranges](https://caaspp.cde.ca.gov/sb2016/ScaleScoreRanges) are provided, and the â€˜Mean Scale Scoreâ€™ is used to determine four achievement levels: â€˜Percentage Standard Exceededâ€™ â€˜Percentage Standard Metâ€™, â€˜Percentage Standard Nearly Metâ€™, â€˜Percentage Standard Not Metâ€™. Many studies showed that discretization can lead to improved predictive accuracy and is more understandable. The test score data also has [area descriptors](https://caaspp.cde.ca.gov/sb2018/UnderstandingCAASPPReports). There are 4 areas of reading, writing, listening, and research/inquiry for ELA whereas 3 areas of concepts and procedures, problem solving/modeling and data analysis, and communicating reasoning for mathematics. For each area, the achievement levels are divided into â€˜Above Standardâ€™, â€˜Near Standardâ€™, and â€˜Below Standardâ€™ depending on the scale scores compared to the â€˜Standard Metâ€™ achievement level.

In [25]:
#Percentage Standard Met and Above = Percentage Standard Exceeded + Percentage Standard Met
df.drop(columns=['Filler', 'Total Tested At Entity Level', 'Total Tested with Scores', 'CAASPP Reported Enrollment', 'Students Tested', 'Mean Scale Score', 'Percentage Standard Met and Above'], inplace=True)

### House Prices

* [Zillow research data](https://www.zillow.com/research/CAASPP/): House prices based on zipcodes

The Zillow Home Value Index (ZHVI) data was imported and loaded. The ZHVI is a seasonally adjusted measure of the median estimated home value across a given region and housing type. The data was collected from April 1996 to November 2018 on monthly basis. 

The column name `RegionName` denotes zipcode so it is renamed as `Zip Code`. The `Zip Code` is set as the index.

In [26]:
result= {'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

**Loading ver 1.**
Data manipulation using DatetimeIndex objects.

In [27]:
#tip: column names has to be changed before setting an index; if setting index while reading csv file, error!
df_house_price2 = pd.read_csv("../../CAASPP/house/Zip_Zhvi_AllHomes.csv", encoding=result['encoding'], na_values = missing_values)

df_house_price2.rename(columns={'RegionName': 'Zip Code'}, inplace=True)
df_house_price2.set_index('Zip Code', inplace=True)
df_house_price2.head()

,RegionID,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,1997-02,1997-03,1997-04,1997-05,1997-06,1997-07,1997-08,1997-09,1997-10,1997-11,1997-12,1998-01,1998-02,1998-03,1998-04,1998-05,1998-06,1998-07,1998-08,1998-09,1998-10,1998-11,1998-12,1999-01,1999-02,1999-03,1999-04,1999-05,1999-06,1999-07,1999-08,1999-09,1999-10,1999-11,1999-12,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,2000-10,2000-11,2000-12,2001-01,2001-02,2001-03,2001-04,2001-05,2001-06,2001-07,2001-08,2001-09,2001-10,2001-11,2001-12,2002-01,2002-02,2002-03,2002-04,2002-05,2002-06,2002-07,2002-08,2002-09,2002-10,2002-11,2002-12,2003-01,2003-02,2003-03,2003-04,2003-05,2003-06,2003-07,2003-08,2003-09,2003-10,2003-11,2003-12,2004-01,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,2004-12,2005-01,2005-02,2005-03,2005-04,2005-05,2005-06,2005-07,2005-08,2005-09,2005-10,2005-11,2005-12,2006-01,2006-02,2006-03,2006-04,2006-05,2006-06,2006-07,2006-08,2006-09,2006-10,2006-11,2006-12,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,2007-10,2007-11,2007-12,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,2009-11,2009-12,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11
Zip Code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10025,61639,New York,NY,New York-Newark-Jersey City,New York County,1,171600.0,171600.0,171400.0,171200.0,171000.0,171100.0,171300.0,171900.0,173000.0,174500.0,176100.0,177500.0,179000.0,180300.0,181500.0,182500.0,183500.0,184700.0,186100.0,187700.0,189900.0,192600.0,195400.0,198300.0,201500.0,204700.0,208100.0,211600.0,215200.0,218900.0,222800.0,226800.0,231200.0,235900.0,240700.0,245400.0,250500.0,255800.0,261200.0,267100.0,273400.0,280400.0,287900.0,296100.0,304900.0,314300.0,323500.0,332200.0,340600.0,348300.0,355200.0,361400.0,367200.0,372900.0,378500.0,384200.0,390100.0,395900.0,401600.0,406900.0,411600.0,415200.0,417700.0,419300.0,420300.0,420900.0,421200.0,421200.0,420500.0,419700.0,418900.0,417900.0,416400.0,414700.0,413000.0,411700.0,411000.0,411400.0,412800.0,415400.0,419000.0,422800.0,426900.0,432400.0,440700.0,453100.0,470400.0,491100.0,511600.0,528400.0,540300.0,547700.0,551700.0,554200.0,556400.0,558700.0,561300.0,564100.0,567500.0,572500.0,579600.0,589000.0,599600.0,610200.0,621600.0,634500.0,648800.0,663800.0,678200.0,690900.0,701600.0,710300.0,717600.0,724100.0,730700.0,737400.0,744200.0,751400.0,758400.0,764700.0,769900.0,773500.0,774900.0,772600.0,767200.0,761800.0,760300.0,763600.0,770400.0,777900.0,784900.0,790900.0,795600.0,799300.0,803200.0,809600.0,819500.0,831600.0,843400.0,852100.0,856200.0,857200.0,856500.0,853300.0,846200.0,836300.0,826100.0,820400.0,820800.0,822800.0,822100.0,818500.0,812500.0,807200.0,804600.0,803100.0,801000.0,799900.0,795300.0,783100.0,767000.0,753400.0,744300.0,739100.0,740300.0,742000.0,739600.0,737800.0,745900.0,760600.0,776900.0,790600.0,794200.0,786200.0,778100.0,777700.0,776400.0,772000.0,767200.0,763000.0,754100.0,742000.0,732000.0,726000.0,723000.0,725700.0,731000.0,732400.0,729600.0,729200.0,732100.0,737700.0,745300.0,752600.0,756800.0,759600.0,766100.0,774200.0,777600.0,781800.0,798500.0,819300.0,837500.0,852400.0,860700.0,863300.0,867200.0,873000.0,878300.0,884100.0,893200.0,903600.0,909600.0,910200.0,909600.0,912900.0,919700.0,926400.0,932400.0,940700.0,950800.0,963100.0,972800.0,980500.0,983100.0,982200,978600,976500,979900,988900,995900,1006900,1031500,1058300,1076200,1082700,1088400,1100400,1113900,1119900,1121600,1120000,1126500,1135100,1130300,1112900,1098200,1084100,1068700,1058900,1063100,1069900,1072600,1078100,1089700,1098200,1101300,1106600,1122100,1136000,1138900,1135900,1130500,1123700,1119500,1116900,1110100,1098400,1086900,1080500,1072200,1064000
60657,84654,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,158400.0,159700.0,160700.0,161400.0,161700.0,161400.0,160800.0,159800.0,158800.0,157800.0,156400.0,154500.0,152700.0,151200.0,149900.0,149000.0,148400.0,148500.0,149200.0,150700.0,153300.0,156700.0,160100.0,163400.0,166900.0,170400.0,173700.0,176800.0,179700.0,182200.0,184400.0,186300.0,188200.0,190000.0,191400.0,192400.0,193700.0,195000.0,196700.0,198600.0,200900.0,203400.0,206100.0,209000.0,212600.0,216500.0,220300.0,224000.0,227900.0,231900.0,235900.0,240000.0,243800.0,247300.0,250500.0,253400.0,256100.0,258600.0,260600.0,262300.0,263900.0,265500.0,267100.0,269100.0,271300.0,273700.0,276300.0,279000.0,281800.0,284400.0,286800.0,289000.0,290900.0,292500.0,293800.0,294900.0,296000.0,297000.0,298000.0,299000.0,300100.0,301100.0,301800.0,302000.0,301900.0,301600.0,301200.0,301200.0,301300.0,301800.0,302600.0,303400.0,304500.0,305700.0,307300.0,309400.0,311600.0,313600.0,315100.0,316300.0,317100.0,318100.0,319400.0,320800.0,322300.0,323900.0,325500.0,327400.0,329600.0,332400.0,335500.0,338600.0,341300.0,343300.0,344700.0,345500.0,345800.0,346000.0,346100.0,346300.0,346300.0,346300.0,346000.0,345600.0,345100.0,344500.0,343700.0,342700.0,341400.0,340200.0,338900.0,337400.0,335800.0,334300.0,333100.0,332200.0,331400.0,331000.0,331200.0,331200.0,330700.0,329900.0,329100.0,328100.0,326700.0,325100.0,323400.0,321500.0,319300.0,317500.0,316800.0,316100.0,315000.0,314200.0,313600.0,312500.0,310400.0,307800.0,305500.0,304300.0,303700.0,303600.0,304600.0,305800.0,306900.0,307000.0,307700.0,307900.0,307000.0,306000.0,306200.0,304800.0,302400.0,298700.0,293700.0,289200.0,286500.0,285600.0,284600.0,282400.0,279300.0,276400.0,273900.0,273400.0,273700.0,272600.0,270600.0,269900.0,271300.0,270400.0,267200.0,265300.0,266600.0,268700.0,269700.0,269600.0,270900.0,273700.0,275500.0,275900.0,275400.0,275900.0,277200.0,279200.0,281500.0,284300.0,287400.0,291800.0,295900.0,299400.0,302200.0,303500.0,304000.0,305200.0,306600.0,308300.0,311500.0,314700.0,316000.0,314600.0,312700.0,311700.0,311400.0,310800.0,310200.0,309300,309400,310900,312600,313800,315700,317700,318600,319900,322800,326300,328400,329900,332500,335800,338100,339100,338700,337700,336900,336400,335800,335800,336200,336400,336700,337200,337900,338600,341100,344100,344800,344400,345600,347300,347800,349200,351600,352900,351900,350400,348700,347800,348200,349500,351500,354000
10023,61637,New York,NY,New York-Newark-Jersey City,New York County,3,347900.0,349600.0,351100.0,352500.0,353700.0,354800.0,356000.0,357400.0,359300.0,361900.0,364400.0,366600.0,369100.0,371900.0,375000.0,378600.0,382700.0,387200.0,392300.0,397800.0,404200.0,411000.0,417200.0,422700.0,427800.0,432200.0,436100.0,439200.0,441700.0,443700.0,445200.0,446500.0,448400.0,451000.0,454000.0,457300.0,461400.0,466300.0,471900.0,478400.0,485500.0,492900.0,500500.0,508000.0,515800.0,523800.0,531400.0,538400.0,545200.0,551900.0,558500.0,565300.0,572600.0,580200.0,588400.0,597000.0,606300.0,615900.0,625500.0,634600.0,643000.0,650400.0,657000.0,662700.0,667500.0,671200.0,674000.0,675500.0,675900.0,675600.0,675000.0,674200.0,673000.0,672300.0,672400.0,673600.0,675900.0,679300.0,683400.0,688600.0,694600.0,700800.0,707500.0,715600.0,725700.0,737100.0,748800.0,759300.0,768100.0,775200.0,780500.0,784000.0,786000.0,787800.0,790400.0,794000.0,798900.0,805500.0,814600.0,826900.0,841400.0,856700.0,871400.0,885000.0,898800.0,913200.0,927600.0,942200.0,957000.0,971400.0,985200.0,997700.0,1008800.0,1019300.0,1030100.0,1040500.0,1049800.0,1058400.0,1066700.0,1075000.0,1082700.0,1088300.0,1091000.0,1088900.0,1081500.0,1071500.0,1064700.0,1064200.0,1069800.0,1078400.0,1088100.0,1098300.0,1107600.0,1115500.0,1125300.0,1141700.0,1166700.0,1197800.0,1229500.0,1254900.0,1271300.0,1279900.0,1283600.0,1284300.0,1281900.0,1275600.0,1267600.0,1259000.0,1250100.0,1240100.0,1227900.0,1210500.0,1188800.0,1166900.0,1148700.0,1134200.0,1121200.0,1110000.0,1094800.0,1069100.0,1038800.0,1016000.0,1002500.0,994300.0,988800.0,984500.0,983500.0,982600.0,982500.0,985700.0,994300.0,1007300.0,1021300.0,1031400.0,1036000.0,1044600.0,1069600.0,1108700.0,1141100.0,1159000.0,1167300.0,1171700.0,1173700.0,1175200.0,1174800.0,1171800.0,1170100.0,1179300.0,1184100.0,1181600.0,1183000.0,1193100.0,1203700.0,1213000.0,1223800.0,1235300.0,1245500.0,1256100.0,1271700.0,1277900.0,1277300.0,1278000.0,1280000.0,1283800.0,1291700.0,1299500.0,1303900.0,1314700.0,1336300.0,1359600.0,1374500.0,1386700.0,1393300.0,1389800.0,1387000.0,1392600.0,1403700.0,1416100.0,1422700.0,1420100.0,1418100.0,1425700.0,1436800.0,1437700.0,1433400.0,1432900,1433300,1430600,1430900,1436400,1458100,1493700,1529300,1544400,1538800,1536300,1555600,1579300,1589200,1593400,1590900,1586300,1586000,1590300,1591300,1596100,1608800,1618500,1619900,1615400,1610200,1608500,1611700,1612500,1612900,1614900,1609900,1603800,1598800,1589900,1567200,1540400,1516000,1497900,1497800,1504600,1489900,1463300,1438800,1411600,1389900,1380100
77494,91982,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,210400.0,212200.0,212200.0,210700.0,208300.0,205500.0,202500.0,199800.0,198300.0,197300.0,195400.0,193000.0,191800.0,191800.0,193000.0,195200.0,198400.0,202800.0,208000.0,213800.0,220700.0,227500.0,231800.0,233400.0,233900.0,233500.0,233300.0,234300.0,237400.0,242800.0,250200.0,258600.0,268000.0,277000.0,283600.0,288500.0,293900.0,299200.0,304300.0,308600.0,311400.0,312300.0,311900.0,311100.0,311700.0,313500.0,315000.0,316700.0,319800.0,323700.0,327500.0,329900.0,329800.0,326400.0,320100.0,312200.0,304700.0,298700.0,294300.0,291400.0,290800.0,291700.0,293000.0,293600.0,292900.0,290500.0,286700.0,282200.0,276900.0,271000.0,264200.0,257000.0,249700.0,243100.0,237000.0,231700.0,227100.0,223300.0,220300.0,217300.0,214700.0,213800.0,215100.0,217300.0,219600.0,221400.0,222300.0,222700.0,223000.0,223700.0,225100.0,227200.0,229600.0,231800.0,233100.0,233500.0,233000.0,232100.0,231300.0,230700.0,230800.0,231500.0,232700.0,234000.0,235500.0,237000.0,238700.0,240600.0,241800.0,241700.0,240700.0,239300.0,238000.0,236900.0,235700.0,234700.0,233400.0,231700.0,230100.0,229000.0,228500.0,228700.0,229400.0,230400.0,231600.0,233000.0,234700.0,237100.0,240200.0,242900.0,244600.0,245200.0,245200.0,245000.0,245600.0,246900.0,248700.0,250700.0,252500.0,254000.0,254800.0,254000.0,252400.0,250900.0,249600.0,248400.0,247900.0,247700.0,247800.0,247900.0,247800.0,247600.0,247500.0,246600.0,245700.0,245600.0,246000.0,246300.0,246800.0,247200.0,247600.0,247900.0,248100.0,248200.0,248000.0,249800.0,250500.0,250100.0,250400.0,251800.0,251300.0,251200.0,250600.0,250000.0,250000.0,249700.0,248100.0,247400.0,248500.0,249400.0,249200.0,249300.0,249500.0,249500.0,249400.0,248900.0,248000.0,247100.0,247000.0,248600.0,251200.0,252600.0,252600.0,252700.0,252700.0,252300.0,252500.0,253300.0,254200.0,255200.0,256600.0,257000.0,256600.0,256600.0,257300.0,258300.0,260700.0,263800.0,266900.0,269100.0,270900.0,273100.0,275800.0,277700.0,279600.0,282100.0,284500.0,286200.0,288300.0,290600.0,293100.0,295600.0,298200.0,300200.0,301500.0,301900,302300,303700,306600,309300,311800,314000,316000,318600,321800,324400,326400,327400,327000,327300,328900,330000,329900,328800,327400,326200,325300,324700,324800,323800,322200,320900,320400,320200,320800,320800,320200,319800,320200,320800,321100,322800,326600,330400,332600,334500,335800,336900,338200,338400,336900,336000
60614,84616,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,192500.0,194500.0,196100.0,197000.0,197200.0,196800.0,195800.0,194400.0,193200.0,192300.0,190800.0,188800.0,187100.0,185600.0,184400.0,183500.0,183100.0,183300.0,184200.0,185700.0,188400.0,192000.0,195600.0,199100.0,203000.0,207100.0,211300.0,215500.0,219600.0,223500.0,227100.0,230100.0,233000.0,235600.0,237400.0,238400.0,239500.0,240700.0,242100.0,243700.0,245500.0,247800.0,250500.0,253500.0,257400.0,262000.0,266300.0,270400.0,274700.0,278900.0,283000.0,286900.0,290700.0,294000.0,297100.0,299900.0,302600.0,305100.0,307300.0,309200.0,311100.0,313000.0,314800.0,316500.0,318300.0,320000.0,321700.0,323400.0,324900.0,326500.0,328000.0,329500.0,330800.0,332000.0,333000.0,334100.0,335200.0,336400.0,337900.0,339600.0,341600.0,343200.0,344000.0,344000.0,343300.0,342700.0,342500.0,342800.0,343400.0,344200.0,345000.0,345500.0,346000.0,346800.0,347900.0,349600.0,351700.0,353800.0,355800.0,357700.0,359500.0,361300.0,363000.0,364800.0,366700.0,368600.0,370700.0,373000.0,375500.0,377700.0,379700.0,381500.0,382900.0,384000.0,385100.0,386000.0,386700.0,387300.0,387900.0,388500.0,389100.0,389800.0,390300.0,390800.0,391100.0,391200.0,391200.0,391000.0,390700.0,390500.0,390200.0,389900.0,389000.0,388000.0,387000.0,386100.0,385400.0,385400.0,386100.0,386600.0,386400.0,385300.0,383700.0,381900.0,379600.0,377100.0,374900.0,372500.0,369600.0,367100.0,365400.0,363700.0,361600.0,359600.0,357900.0,355900.0,352800.0,349200.0,346100.0,343800.0,342400.0,342000.0,342400.0,342700.0,342900.0,343400.0,344300.0,344600.0,344700.0,345500.0,345600.0,343700.0,342400.0,340600.0,336800.0,332900.0,330800.0,330300.0,330500.0,329400.0,327000.0,324800.0,322900.0,322000.0,323000.0,324400.0,325300.0,325600.0,327000.0,326000.0,322500.0,321000.0,322500.0,323700.0,324100.0,324800.0,322700.0,318800.0,316700.0,317400.0,317700.0,319100.0,321500.0,324500.0,328600.0,333500.0,339200.0,347100.0,353900.0,359300.0,362500.0,363800.0,364000.0,364800.0,365000.0,365400.0,366800.0,369500.0,371700.0,372800.0,374400.0,375200.0,375000.0,375700.0,376600.0,375900,376000,378400,380900,381300,381100,380800,381400,384100,388400,391600,394100,397300,401600,405000,406700,408500,409800,408500,408800,411200,412200,411800,413100,413800,414200,415100,415800,416700,419400,420700,419900,420400,423300,425900,426000,426700,429000,430400,429500,428600,428700,430600,431900,430900,430900,433200

In [28]:
df_house_price2.shape

(15531, 278)

In [29]:
df_house_price2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15531 entries, 10025 to 89155
Columns: 278 entries, RegionID to 2018-11
dtypes: float64(225), int64(49), object(4)
memory usage: 33.1+ MB

In [30]:
df_house_price2.drop(columns=['RegionID', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], inplace=True)

We make columns as **DatetimeIndex objects**. I found this is more convenient and safe for dealing with time related data.

In [31]:
#tip: when dealing with time data, it is much better to use time related libraries!
#pandas.DatetimeIndex
df_house_price2.columns = pd.to_datetime(df_house_price2.columns)

We analyze the test scores for the years of 2015 to 2018. 
I cleaned up the data by dropping house prices that are less than 2015 or greater than 2018.
To analyze the school performance on a yearly basis, the monthly prices were grouped by each year into a median value.

In [32]:
#clean data - remain data from years of 2015 to 2018
dropColumns = [ x for x in df_house_price2.columns
                if (x.year < 2015 or x.year > 2018) ]

df_house_price2.drop(columns=dropColumns, inplace=True)

In [33]:
df_house_price2.columns

DatetimeIndex(['2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
               '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
               '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
               '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01'],
              dtype='datetime64[ns]', freq=None)

**House median prices**

In [34]:
df_house_price_grouped_median = df_house_price2.groupby(pd.Grouper(freq='Y', axis=1), axis=1).median()
df_house_price_grouped_median.head()

          2015-12-31  2016-12-31  2017-12-31  2018-12-31
Zip Code
10025        1001400     1116900     1093950     1110100
60657         316700      336300      342600      350400
10023        1475900     1591100     1610050     1489900
77494         312900      327350      320800      335800
60614         381200      408650      419650      430400

In [35]:
#clean data
#convert columns from DatetimeIndex to int64 for compatibility

df_house_price_grouped_median.columns = [x.year for x in df_house_price_grouped_median.columns]

In [36]:
df_house_price_stacked2 = df_house_price_grouped_median.stack().to_frame()
df_house_price_stacked2.columns = ['House_median']
df_house_price_stacked2.index.names = ['Zip Code', 'Test Year']
df_house_price_stacked2.head(10)

                    House_median
Zip Code Test Year
10025    2015            1001400
         2016            1116900
         2017            1093950
         2018            1110100
60657    2015             316700
         2016             336300
         2017             342600
         2018             350400
10023    2015            1475900
         2016            1591100

**Loading ver 2.**
Data manipulation using user-defined functions.

In [37]:
#RegionName = zipcode
df_house_price = pd.read_csv("../../CAASPP/house/Zip_Zhvi_AllHomes.csv", encoding=result['encoding'], na_values = missing_values)
df_house_price.rename(columns={'RegionName': 'Zip Code'}, inplace=True)
df_house_price.set_index('Zip Code', inplace=True)

In [38]:
def getYearPart(year_month):
    res = year_month.split('-')
    #if there is no '-', just return its original value
    return res[0]
def getYearPartInt(year_month):
    res = getYearPart(year_month)
    if res.isdigit():
        return int(res)
    return res

In [39]:
#consider years of 2015 to 2018 (4 years)

dropColumns = [ x for x in df_house_price.columns
                if (not getYearPart(x).isdigit()) or (int(getYearPart(x)) < 2015 or int(getYearPart(x)) > 2018) ]
df_house_price.drop(columns=dropColumns, inplace=True)

In [40]:
df_house_price_grouped = df_house_price.groupby(getYearPartInt, axis=1).median()

In [41]:
df_house_price_stacked = df_house_price_grouped.stack().to_frame()
df_house_price_stacked.columns = ['House_median']
df_house_price_stacked.index.names = ['Zip Code', 'Test Year']

In [42]:
print (df_house_price_stacked.index.get_level_values(0).dtype)
print (df_house_price_stacked.index.get_level_values(1).dtype)

int64
int64

In [43]:
df_house_price_stacked.loc[(60657, 2018)]

House_median    350400
Name: (60657, 2018), dtype: int64

In [44]:
del df_house_price_stacked

### Additional Datasets
Additional datasets are obtained in the following sites:
* [Civil Rights Data Collection](https://ocrdata.ed.gov/): Teacher demographics

* [GreatSchools API](https://www.greatschools.org/api/docs/technical-overview/): School profile, school reviews, school censuc data, nearby schools

## Joining Multiple Datasets and Cleaning Data
There are multiple dataset and we need to merge efficiently to obtain useful and clean data.

**1. Select all grades (`Grade` == 13) and "Smart Balanced (basic official)" test type (`Test Type` == B).**

[The `Grade 13` denotes all grades](https://caaspp.cde.ca.gov/sb2018/research_fixfileformat18), so we decided to use data only 13 for minimum sample size. I believe the aggregated data at each school level is enough for representing the characteristics of public schools in California. 

All the test scores are from the *Smarter Balanced English Language Arts/Literacy and Mathematics* (`Test Type` = 'B')

In [45]:
df = df.loc[(df['Grade'] == 13) & (df['Test Type'] == "B"), :]

We dropped the columns `Test Type` and `Grade`. Those columns do not convey any important information anymore.

In [46]:
dropColumns_entity = ['Test Type', 'Grade']
df.drop(columns=dropColumns_entity, inplace=True)

**2. Merge the entity table.**

We append the specific names to the test score DataFrame by merging two tables (Test data + entities).

In [47]:
allGradesDf_entity = pd.merge(entities, df, how='inner', on=['School Code', 'District Code', 'County Code', 'Test Year'])

**3. Merge the house price data.**

Now, we merge the house prices and test score data.

In [48]:
allGradesDf_entity_house = pd.merge(allGradesDf_entity, df_house_price_stacked2, how='inner', 
                  left_on=['Zip Code', 'Test Year'], right_index=True)

**4. merge `Subgroup ID` table.**

In [49]:
allGradesDf_entity_house = pd.merge(subgroup, allGradesDf_entity_house, on=['Subgroup ID'])

## Detecting and Imputing Missing Values

In [50]:
allGradesDf_entity_house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 692517 entries, 0 to 692516
Data columns (total 31 columns):
Subgroup ID                         692517 non-null int64
Student Groups                      692517 non-null object
Category                            692517 non-null object
County Code                         692517 non-null int64
District Code                       692517 non-null int64
School Code                         692517 non-null int64
Test Year                           692517 non-null int64
Type Id                             692517 non-null int64
County Name                         692517 non-null object
District Name                       692517 non-null object
School Name                         692517 non-null object
Zip Code                            692517 non-null int64
Test Id                             692517 non-null object
Percentage Standard Exceeded        429640 non-null float64
Percentage Standard Met             429640 non-null float64
Percentage Standard Nearly Met      429640 non-null float64
Percentage Standard Not Met         429640 non-null float64
Students with Scores                429640 non-null float64
Area 1 Percentage Above Standard    429640 non-null float64
Area 1 Percentage Near Standard     429640 non-null float64
Area 1 Percentage Below Standard    429640 non-null float64
Area 2 Percentage Above Standard    429640 non-null float64
Area 2 Percentage Near Standard     429640 non-null float64
Area 2 Percentage Below Standard    429640 non-null float64
Area 3 Percentage Above Standard    429640 non-null float64
Area 3 Percentage Near Standard     429640 non-null float64
Area 3 Percentage Below Standard    429640 non-null float64
Area 4 Percentage Above Standard    429640 non-null float64
Area 4 Percentage Near Standard     429640 non-null float64
Area 4 Percentage Below Standard    429640 non-null float64
House_median                        692517 non-null int64
dtypes: float64(17), int64(8), object(6)
memory usage: 169.1+ MB

If we chain a `.sum()` method on, weâ€™re given a list of all the summations of each column regarding `missing values`. We notice that only score columns have the missing values, and the number of missing values for every score column are same. This means that one row has all missing scores or all scores.

In [51]:
allGradesDf_entity_house.isnull().sum()

Subgroup ID                              0
Student Groups                           0
Category                                 0
County Code                              0
District Code                            0
School Code                              0
Test Year                                0
Type Id                                  0
County Name                              0
District Name                            0
School Name                              0
Zip Code                                 0
Test Id                                  0
Percentage Standard Exceeded        262877
Percentage Standard Met             262877
Percentage Standard Nearly Met      262877
Percentage Standard Not Met         262877
Students with Scores                262877
Area 1 Percentage Above Standard    262877
Area 1 Percentage Near Standard     262877
Area 1 Percentage Below Standard    262877
Area 2 Percentage Above Standard    262877
Area 2 Percentage Near Standard     262877
Area 2 Percentage Below Standard    262877
Area 3 Percentage Above Standard    262877
Area 3 Percentage Near Standard     262877
Area 3 Percentage Below Standard    262877
Area 4 Percentage Above Standard    262877
Area 4 Percentage Near Standard     262877
Area 4 Percentage Below Standard    262877
House_median                             0
dtype: int64

In [52]:
allGradesDf_entity_house.isnull().values.any()

True

In order to get the total summation of all missing values in the DataFrame, we chain two .sum() methods together.  
https://chartio.com/resources/tutorials/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe/

In [53]:
allGradesDf_entity_house.isnull().sum().sum()

4468909

In [54]:
null_data = allGradesDf_entity_house[allGradesDf_entity_house.isnull().any(axis=1)]
null_data.head()

,Subgroup ID,Student Groups,Category,County Code,District Code,School Code,Test Year,Type Id,County Name,District Name,School Name,Zip Code,Test Id,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores,Area 1 Percentage Above Standard,Area 1 Percentage Near Standard,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard,House_median
28,1,All Students,All Students,1,61168,161168,2018,7,Alameda,Emery Unified,Emery Unified District Level Program,94608,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,748000
29,1,All Students,All Students,1,61168,161168,2018,7,Alameda,Emery Unified,Emery Unified District Level Program,94608,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,748000
42,1,All Students,All Students,1,61259,106542,2018,7,Alameda,Oakland Unified,Community Day High,94619,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,757100
43,1,All Students,All Students,1,61259,106542,2018,7,Alameda,Oakland Unified,Community Day High,94619,Mathematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,757100
44,1,All Students,All Students,1,61259,106559,2018,7,Alameda,Oakland Unified,Community Day Middle,94619,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,757100

**We finally obtain the clean data.**

In [55]:
#Drop missing observations
final_data = allGradesDf_entity_house.dropna()

In [56]:
# Drop school data containing "Program" that are not official schools
# Example: "Irvine Unified District Level Program" or "Alternative Education-San Joaquin High"
excludeSchoolNames = ["Program", "Alternative"]
final_data = final_data[~final_data["School Name"].str.contains('|'.join(excludeSchoolNames), case=False, na=False)]

In [57]:
final_data.to_csv("final_school_data.csv", sep='\t', encoding='utf-8')